@charset "UTF-8";
body {
    background-color: #fff6e6; /* fondo suave */
    font-family: 'Segoe UI', sans-serif; /* fuente moderna */
}

.custom-navbar{
    background-color: #003366;
    border-color: #003366;
}

.card-header {
    background-color: #ff8000; /* naranja fuerte */
    color: white;
}

.btn-primary {
    background-color: #002147; /* azul marino */
    border-color: #002147;
}

.btn-primary:hover {
    background-color: #003366;
    border-color: #003366;
}

.footer {
    background-color: #002147; /* azul marino, como los botones */
    color: white;
    font-size: 0.9rem;
    border-top: 3px solid #ff8000; /* línea naranja superior */
}

.tabla{
	width: 100%;
    border-collapse: collapse;
    text-align: center;
    
}

.tabla th, td
{
	border: 1px solid #dee2e6;
    vertical-align: middle;
}

.tabla th{
	background-color: #ff8000;
    color: white;
}
.tabla-botones{
	display: grid;
	gap: 0.5rem;
}
