@charset "UTF-8";
* {
    font-family: 'Segoe UI', sans-serif !important;
}

body {
    background-color: #fff6e6; /* fondo suave */
    font-family: 'Segoe UI', sans-serif; /* fuente moderna */
}

.custom-navbar{
    background-color: #003366;
    border-color: #003366;
}

.card-header {
    background-color: #ff8000; /* naranja fuerte */
    color: white;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: #002147; /* azul marino */
    border-color: #002147;
}

.btn-primary:hover {
    background-color: #003366;
    border-color: #003366;
}


.footer {
    background-color: #002147; /* azul marino, como los botones */
    color: white;
    font-size: 0.9rem;
    border-top: 3px solid #ff8000; /* línea naranja superior */
}

.tabla-contenedor {
    max-width: 1200px;
    margin: 0 auto;  
    padding: 0 8px;  
    border: 1px solid #dee2e6;
}

.tabla th{
	background-color: #ff8000;
    color: white;
}

.contenedor-botones {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}


/* css de inicioCliente   */
.btn-cliente {
    display: inline-block;
    background-color: white;
    color: #ff8000;
    border: 1px solid #ff8000;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-cliente:hover {
    background-color: #ff8000; 
    color: white;
}


/*  css de perfilCliente.jsp  */
.perfil-container {
  max-width: 1000px;
  margin: 40px auto;           
  padding: 0 20px;             
}

.perfil-card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.perfil-form label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 600;
}

.perfil-form input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f8f9fa;
  color: #495057;
}

.perfil-form input{
  background-color: #e9ecef;
  cursor: not-allowed;
}

.btn-volver {
  background-color: #ff8000;
  color: white;
  padding: 10px 20px;
  border: 2px solid #ff8000;
  border-radius: 6px;
  transition: 0.3s ease;
  font-weight: bold;
}

.btn-volver:hover {
  background-color: #ffa64d;
  border-color: #ffa64d;
}

.btn-aceptar {
  background-color: #002147;
  color: white;
  padding: 10px 20px;
  border: 2px solid #002147;
  border-radius: 6px;
  transition: 0.3s ease;
  font-weight: bold;
}

.btn-aceptar:hover {
  background-color: #003366;
  border-color: #003366;
}

/*reportes*/

/* Estilo para los links como botones */
.container {
  max-width: 800px;
  margin: 0 auto;
}
.list-group-item {
    display: inline-block;
    background-color: white;
    color:  #003366;
    border: 1px solid  #003366;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover efecto claro con texto blanco */
.list-group-item:hover {
  background-color:  #003366;
  color: white;
}











